.testimonials {
  background-color: #ff5454;
  position: relative;
  padding-top: 40px;
  max-width: 1920px;
  min-width: 1920px;
}
.testimonials:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background-color: #f6f6f5;
}

.testimonials h2{
text-align: center;
margin-bottom: 50px;
font-size: 46px;
font-family:Arial, Helvetica, sans-serif;
color: #00334E;
}


/* #customers-testimonials .item-details {
  padding: 20px 10px;
  text-align: left;
} */



.owl-carousel .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
  background-color: #D6D6D6;
}


.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: rgb(241, 240, 240);
  text-align: center;
}

.owl-carousel .owl-prev {
  left: -50px;
}

.owl-carousel .owl-next {
  right: -50px;
}


.tests_block{
  max-width: 1900px;
  min-width: 1900px;
}

.container{
  width: 1700px;
  height: 500px;
  margin-left: 100px;
}

.shadow-effect{
  border: solid 1px;
  border-radius: 3%;
  overflow: hidden;
  padding: 0;
  width:300px;
  height: 400px;
}
